<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jey Prabu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='jp.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>
<body>
    <header>
        <h1>WELCOME TO MY PORTFOLIO WEBPAGE</h1>
    </header>
    <div class="container">
        <section class="left">
            <h1 style="color: red; text-align: center;"><b>Jey Prabu</b></h1>
            <img src="{{ url_for('static', filename='jey.jpg') }}">
            <h2 style="color: white;">About Me</h2>
            <p><b>Hello, I'm Jey Prabu, a passoinate individual with a deep interest in the exciting word of Artificial Intelligence and Machine Learning. My journey is defined by my curiosity and determination to understand and harness the power of AI to solve complex problems. I aim to create innovative solutions that bridge the gap between cutting-edge technology and seamless user experience.</b></p>
        </section>
        <section class="right">
            <h2 style="color: white;">Experience</h2>
            <ul>
                    <li>Virtual Internship in Data Science</li>
                    <li>3D Printing</li>
            </ul>
            <h2 style="color: white;">Skills</h2>
            <ul>
                <ul>
                    <li>HTML/CSS</li>
                    <li>JavaScript</li>
                    <li>Python</li>
                    <li>MySQL</li>
                </ul>
            </ul>
            <h2 style="color: white;">Contact</h2>
                <table>
                    <tr>
                        <td><b>Email </b></td>
                        <td> : </td>
                        <td>jeyprabu@gmail.com</td>
                    </tr>
                    <tr>
                        <td><b>Phone</b></td>
                        <td> : </td>
                        <td>80122XXXXX</td>
                    </tr>
                    <tr>
                        <td><b>LinkedIn</b></td>
                        <td> : </td>
                        <td><a href="https://www.linkedin.com/in/jeyprabu/">Jey Prabu</a></td>
                    </tr>
                    <tr>
                        <td><b>GitHub</b></td>
                        <td> : </td>
                        <td><a href="https://github.com/jeyprabu">Jey Prabu</a></td>
                    </tr>
                </table>
        </section>
    </div>
    <div id="chat-icon" class="floating-icon">
        <i class="fas fa-comment-dots"></i>
    </div>
    <div id="message-box" class="floating-message">
        <i class="fas fa-robot"></i><p>Hi chatbot here!!</p>
    </div>
    <div id="chat-dialog" class="hidden">
        <div id="chat-header">
            <span><b>Chatbot</b></span>
            <i id="close-icon" class="fas fa-times"></i>
        </div>
        <div id="chat-messages"></div>
        <input type="text" id="user-input" placeholder="Type your question...">
        <button id="send-button">Send</button>
    </div>
    <script src="static/chatbot.js"></script>
    <footer>
        <p style="color: white;"><b>&copy; Jey Prabu</b></p>
    </footer>
</body>
</html>
